In [4]:
from refine import Refine
import pandas as pd

In [5]:
df = pd.read_csv('Personal Information.csv')

In [6]:
df

            id first_name  last_name  Age  Gender         Income State
0            1       Jean    Schmidt   19  Female    25000-49999    PA
1            2      Larry     Bishop   21    Male    50000-99999    OR
2            3     George     Flores   51    Male    50000-99999    NE
3            4     George      Lewis   55    Male    50000-99999    MO
4            5  Christine      Berry   56  Female    25000-49999    NC
5            6      Jesse     Carter   40    Male  100000-249999    TX
6            7     Evelyn   Hamilton   43  Female    25000-49999    FL
7            8  Christina    Vasquez   29  Female         <24999    AL
8            9      Alice      Clark   28  Female    25000-49999    TX
9           10    Lillian   Marshall   56  Female         <24999    NJ
10          11      Wanda    Bradley   31  Female         <24999    TX
11          12   Lawrence    Stanley   57    Male    50000-99999    VA
12          13      Craig      Davis   53    Male    25000-49999    FL
13          14     Nicole       Sims   31  Female    25000-49999    IN
14          15      Marie     Carter   43  Female    50000-99999    TX
15          16      Aaron  Carpenter   33    Male         <24999    IN
16          17      Diane      Berry   16  Female         <24999    KS
17          18     Howard      Moore   40    Male         <24999    CO
18          19    Carolyn      Olson   59  Female    50000-99999    MI
19          20    Antonio    Simmons   21    Male    25000-49999   NaN
20          21      Karen       Hunt   45  Female    50000-99999    MO
21          22    Charles      Reyes   56    Male         <24999    CA
22          23       Mary      Burke   27  Female    25000-49999    CO
23          24    Melissa    Jackson   32  Female    25000-49999    NY
24          25       Lisa     Harris   16  Female    50000-99999    OK
25          26    Shirley    Mendoza   27  Female    25000-49999    CO
26          27    Dorothy       Long   57  Female  100000-249999    NC
27          28      Craig  Carpenter   25    Male         <24999    KY
28          29      Scott     Parker   20    Male    25000-49999    NC
29          30     Daniel       Reid   60    Male  100000-249999    NM
...        ...        ...        ...  ...     ...            ...   ...
107637  107638   Kimberly    Bradley   48  Female  100000-249999    KS
107638  107639     Donald      Reyes   22    Male    25000-49999    IA
107639  107640       Sara     Rogers   50  Female    50000-99999    CA
107640  107641    Anthony     Willis   42    Male    50000-99999    IL
107641  107642        Ann     Jacobs   54  Female    25000-49999    TN
107642  107643      Louis       Wood   28    Male    50000-99999    KS
107643  107644    William    Wheeler   25    Male    25000-49999    CT
107644  107645     Steven      Welch   42    Male    25000-49999    CO
107645  107646      Steve      Wells   26    Male         <24999    MD
107646  107647     Daniel     Morris   46    Male    25000-49999    TN
107647  107648       Eric       Reid   46    Male    25000-49999    TX
107648  107649      Donna      Myers   45  Female    50000-99999    NM
107649  107650      Robin    Stevens   24  Female    50000-99999   NaN
107650  107651     Nicole      Davis   53  Female    25000-49999    KY
107651  107652      Shawn     Butler   38    Male         <24999    CA
107652  107653      Diane     Hansen   59  Female    50000-99999    OK
107653  107654    Barbara    Perkins   23  Female         <24999    FL
107654  107655       Anna      Lewis   56  Female    25000-49999    IN
107655  107656      Carol     Murphy   55  Female    50000-99999   NaN
107656  107657       Todd     Graham   57    Male  100000-249999    NY
107657  107658      Keith    Jackson   51    Male    25000-49999    MS
107658  107659     Carlos     Weaver   20    Male    50000-99999    CA
107659  107660    Antonio     Martin   29    Male         <24999    LA
107660  107661       Gary   Williams   28    Male    25000-49999    MI
107661  107662    Jessica    Gardner   31  Female    50000-99999    OH
107662  107663     Walter      Mccoy   40    Male  100000-249999    OH
107663  107664      Laura     Gordon   34  Female    25000-49999    NV
107664  107665    Richard     Wagner   32    Male    25000-49999   NaN
107665  107666    Anthony    Daniels   39    Male  100000-249999    NV
107666  107667       Earl     Martin   50    Male         <24999    NY

[107667 rows x 7 columns]

In [7]:
p = Refine(df)

In [8]:
df = p.export_pandas_frame()

In [9]:
df

,Column,id,first_name,last_name,Age,Gender,Income,State
0,0,1,adfadsgasdgas,fdagthgfdsfd,19,Female,25000-49999,PA
1,1,2,Larry,Bishop,21,Male,50000-99999,OR
2,2,3,George,Flores,51,Male,50000-99999,NE
3,3,4,George,Lewis,55,Male,50000-99999,MO
4,4,5,Christine,Berry,56,Female,25000-49999,NC
5,5,6,Jesse,Carter,40,Male,100000-249999,TX
6,6,7,Evelyn,Hamilton,43,Female,25000-49999,FL
7,7,8,Christina,Vasquez,29,Female,<24999,AL
8,8,9,Alice,Clark,28,Female,25000-49999,TX
9,9,10,Lillian,Marshall,56,Female,<24999,NJ
10,10,11,Wanda,Bradley,31,Female,<24999,TX
11,11,12,Lawrence,Stanley,57,Male,50000-99999,VA
12,12,13,Craig,Davis,53,Male,25000-49999,FL
13,13,14,Nicole,Sims,31,Female,25000-49999,IN
14,14,15,Marie,Carter,43,Female,50000-99999,TX
15,15,16,Aaron,Carpenter,33,Male,<24999,IN
16,16,17,Diane,Berry,16,Female,<24999,KS
17,17,18,Howard,Moore,40,Male,<24999,CO
18,18,19,Carolyn,Olson,59,Female,50000-99999,MI
19,19,20,Antonio,Simmons,21,Male,25000-49999,NaN
20,20,21,Karen,Hunt,45,Female,50000-99999,MO
21,21,22,Charles,Reyes,56,Male,<24999,CA
22,22,23,Mary,Burke,27,Female,25000-49999,CO
23,23,24,Melissa,Jackson,32,Female,25000-49999,NY
24,24,25,Lisa,Harris,16,Female,50000-99999,OK
25,25,26,Shirley,Mendoza,27,Female,25000-49999,CO
26,26,27,Dorothy,Long,57,Female,100000-249999,NC
27,27,28,Craig,Carpenter,25,Male,<24999,KY
28,28,29,Scott,Parker,20,Male,25000-49999,NC
29,29,30,Daniel,Reid,60,Male,100000-249999,NM
...,...,...,...,...,...,...,...,...
107637,107637,107638,Kimberly,Bradley,48,Female,100000-249999,KS
107638,107638,107639,Donald,Reyes,22,Male,25000-49999,IA
107639,107639,107640,Sara,Rogers,50,Female,50000-99999,CA
107640,107640,107641,Anthony,Willis,42,Male,50000-99999,IL
107641,107641,107642,Ann,Jacobs,54,Female,25000-49999,TN
107642,107642,107643,Louis,Wood,28,Male,50000-99999,KS
107643,107643,107644,William,Wheeler,25,Male,25000-49999,CT
107644,107644,107645,Steven,Welch,42,Male,25000-49999,CO
107645,107645,107646,Steve,Wells,26,Male,<24999,MD
107646,107646,107647,Daniel,Morris,46,Male,25000-49999,TN
107647,107647,107648,Eric,Reid,46,Male,25000-49999,TX
107648,107648,107649,Donna,Myers,45,Female,50000-99999,NM
107649,107649,107650,Robin,Stevens,24,Female,50000-99999,NaN
107650,107650,107651,Nicole,Davis,53,Female,25000-49999,KY
107651,107651,107652,Shawn,Butler,38,Male,<24999,CA
107652,107652,107653,Diane,Hansen,59,Female,50000-99999,OK
107653,107653,107654,Barbara,Perkins,23,Female,<24999,FL
107654,107654,107655,Anna,Lewis,56,Female,25000-49999,IN
107655,107655,107656,Carol,Murphy,55,Female,50000-99999,NaN
107656,107656,107657,Todd,Graham,57,Male,100000-249999,NY
107657,107657,107658,Keith,Jackson,51,Male,25000-49999,MS
107658,107658,107659,Carlos,Weaver,20,Male,50000-99999,CA
107659,107659,107660,Antonio,Martin,29,Male,<24999,LA
107660,107660,107661,Gary,Williams,28,Male,25000-49999,MI
107661,107661,107662,Jessica,Gardner,31,Female,50000-99999,OH
107662,107662,107663,Walter,Mccoy,40,Male,100000-249999,OH
107663,107663,107664,Laura,Gordon,34,Female,25000-49999,NV
107664,107664,107665,Richard,Wagner,32,Male,25000-49999,NaN
107665,107665,107666,Anthony,Daniels,39,Male,100000-249999,NV
107666,107666,107667,Earl,Martin,50,Male,<24999,NY